@* Generator: Template TypeVisibility: Internal *@
@using Elmah
@inherits RazorTemplateBase
@{
    // NB cast is not really required, but aids with intellisense!
    var error = (Error) this.Error;
}
<html>
    <head>
        <title>Error: @error.Message</title>
    </head>
    <body style="font-family: verdana, arial, helvetic; font-size: small;">
        <p style="font-size: medium; font-style: italic; color: maroon;">@error.Type: @error.Message</p>
        @if (error.Time != DateTime.MinValue)
        {
            <p>Generated: @error.Time.ToUniversalTime().ToString("r")</p>
        }
        @if (error.Detail.Length != 0)
        {
@* NOTE! DO NOT REMOVE this comment
   Eliminates white space literal prior to pre tag in generated 
   code and is important for correct formatting
            *@<pre style="padding: 1em; background-color: #FFFFCC; font-size: small;">@error.Detail</pre>
        }
        @foreach (var collection in 
            from collection in new[] 
            {
                new
                {
                    Id    = "ServerVariables",
                    Title = "Server Variables",
                    Items = error.ServerVariables,
                }
            }
            let data = collection.Items
            where data != null && data.Count > 0
            let items = from i in Enumerable.Range(0, data.Count)
                        select KeyValuePair.Create(data.GetKey(i), data[i])
            select new
            {
                collection.Id, 
                collection.Title,
                Items = items.OrderBy(e => e.Key, StringComparer.OrdinalIgnoreCase)
            }
        )
        {
            <div>
                <h1 style="font-size: small;">@collection.Title</h1>
                <table style="border-collapse: collapse; border-spacing: 0; border: 1px solid black; width: 100%;">
                    <tr style="vertical-align: top;">
                        <th style="text-align: left; border: 1px solid black; padding: 4px; font-weight: bold; font-size: small;">Name</th>            
                        <th style="text-align: left; border: 1px solid black; padding: 4px; font-weight: bold; font-size: small;">Value</th></tr>
                @foreach (var item in collection.Items)
                {
                    <tr style="vertical-align: top;">
                        <td style="border: 1px solid black; padding: 4px; font-size: small;">@item.Key</td>
                        <td style="border: 1px solid black; padding: 4px; font-size: small;">@item.Value</td></tr>
                }
                </table>
            </div>
        }
        <p>@(RenderPartial<PoweredBy>())</p>
    </body>
</html>
